/* body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/hero/hero-1.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
} */
